.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

/* Ensure Leaflet map takes full height */
.leaflet-container {
  width: 100%;
  height: 100%;
}

.temperature-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px !important;
  height: 40px !important;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #3388ff;
  border-radius: 50%;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 36px;
  transition: transform 0.2s;
}

.temperature-marker:hover {
  transform: scale(1.1);
  z-index: 1000;
}
